<div class="container-fluid mb-1 mt-1">
    <div class="commentScore">
        <span>UserId:</span>&nbsp;
        <span class="pr-4" data-bind="text: qa_UserId"></span>
        <span>Date:  </span>&nbsp;
        <span class="pr-4" data-bind="text: creationDate"></span>
        <span>Score:  </span>&nbsp;
        <span class="pr-4" data-bind="text: score"></span>

    </div>
    <span class=""></span>
    <div class="row">
        <div class="col">
            <span class="commentsBody" data-bind="text: text"></span>
        </div>
    </div>
</div> 