<div class="logindiv">
    <div>
        <h2 class="loginheader">Create new user</h2>
    </div>
    <div>
        <input class="logininput" placeholder="Enter username" data-bind="value: username" required/>
    </div>
    <div>
        <input class="logininput" type="password" placeholder="Enter password" data-bind="value: password" required/>
    </div>
    <div>
        <input class="logininput" type="password" placeholder="Confirm password" data-bind="value: password" required/>
    </div>
    <div>
        <button class="btn btn-outline-success my-2 my-sm-0" data-bind="click: createUser">Create user</button>
    </div>
</div>