
<div class="logindiv">
    <form class="form-group">
        <div>
            <h2 class="loginheader">Log in</h2>
        </div>
        <div>
            <input class="logininput" placeholder="Username" data-bind="value: username" />
        </div>
        <div>
            <input class="logininput" type="password" placeholder="Password" data-bind="value: password" />
        </div>
        <div>
            <button class="btn btn-outline-success my-2 my-sm-0" data-bind="click: login">Log in</button>
            <button class="btn btn-outline-success my-2 my-sm-0" data-bind="click: newUser">New user</button>
        </div>
    </form>

</div>