
<div class="logindiv">
    <form class="form-group" name="frmLogin" onsubmit="return validateForm">
        <div>
            <h2 class="loginheader">Log in</h2>
        </div>
        <div>
            <input class="logininput" name="username" type="text" placeholder="Username" data-bind="value: username" />
        </div>
        <div>
            <input class="logininput" name="password" type="password" placeholder="Password" data-bind="value: password" />
        </div>
        <div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Submit" data-bind="click: validateForm" >Log in</button>
            <button class="btn btn-outline-success my-2 my-sm-0" data-bind="click: newUser">New user</button>
        </div>
    </form>

</div>