<div class="container-fluid">
            <div class="row border-top">
                <div class="col-6">
                    <span style="display:block; width:100%; background-color:#55bcc9; padding:10px 20px; color:white;" data-bind="text: title"></span>
                </div>
                <div class="col-2">
                    <span class="postScore-DetailView" data-bind="text: score"></span>
                </div>
                <div class="col-2">
                    <span style="text-align: left;" class="userId" data-bind="text: qa_UserId"></span>
                </div>
                <div class="col-2">
                    <span data-bind="text: creationDate"></span>
                </div>
             </div>
</div>

