<div class="container-fluid mb-2">
            <h5 class="myPostTitle" style="font-weight:bold;" data-bind="text: title"></h5>
    <div class="row">
        <div class="col-8">
            <span class="excerptBody .d-sm-none .d-md-block" data-bind="html: body"></span>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <p class="postScore-DetailView" data-bind="text: score"></p>
                </div>
                <div class="col">
                    <button class="sePostKnap">Show Post</button>
                </div>
            </div>
        </div>
    </div>
</div> 