<style>
    a.noLinkatt {
        text-decoration: none;
        color: black;
    }
    Button {
        padding:10px;
        font-weight: normal;
        color: white;
        border: none;
        margin-top: 5px;
    }
    
    Button:hover {
        font-weight: bold;
        border: solid;
        border-color: black;
        padding: 7px;
        cursor: pointer;
    }

    Button.myNext {
        background-color: green;
    }
        button.myNext::after {
            content: " >"
        }

    Button.myPrev {
        background-color: red;
    }
        button.myPrev::before {
            content: "< "
        }

    .myPostTitle {
        display: block;
        font-family:Roboto;
        font-size: 1.2em;
        padding: 5px;
        border: 1px solid lightgrey;
        margin: 5px;
        width: 35%;
    }
        .myPostTitle:hover {
            font-weight: 500;
            border-color: black;
            cursor: pointer;
        }

</style>
<h3>List of Posts:</h3>
<div class="container-fluid">
    <div data-bind="foreach: posts">
        <div>
	        <div class="myPostTitle" data-bind="component: { name: $parent.currentComponent, 
															 params: {post: $data}}, 
															 click: $parent.showSinglePost">
	        </div>
            <!--<span class="myPostTitle" data-bind="component: { name: $parent.currentComponent, params: {post: $data}}"></span>-->

        </div>
    </div>
    <div>
        <button class="myPrev" data-bind="click: prevPage">Previous Page</button>
        <button class="myNext" data-bind="click: nextPage">Next Page</button>
    </div>
	
</div>