<style>
    a.noLinkatt {
        text-decoration: none;
        color: black;
    }
    .mybutton {
            padding: 10px;
            font-weight: normal;
            color: white;
            border: none;
            margin-top: 5px;
            }

        .mybutton:hover {
            font-weight: bold;
            border: solid;
            border-color: black;
            padding: 7px;
            cursor: pointer;
        }
    .myNext {
        background-color: green;
    }
        .myNext::after {
            content: " >";
        }
    .myPrev {
        background-color: red;
    }
        .myPrev:::before {
            content: "< ";
        }
         
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h4 style="margin-top:10px; margin-bottom: 20px;">Search results: </h4>
            <div data-bind="foreach: posts">
                <div>
                    <div data-bind="component: { name: $parent.currentComponent, params: {post: $data}}, click: $parent.showSinglePost"></div>
                    <!--<span class="myPostTitle" data-bind="component: { name: $parent.currentComponent, params: {post: $data}}"></span>-->

                </div>
            </div>
        </div>
        <!-- VIS SINGLE POSTS I HØJRE SPALTE:
       <div class="col">
           <div>
               <single-post data-bind="visible: isVisible"></single-post>
           </div>
       </div>
         -->
    </div>
        <div class="row">
            <div class="col">
                <button class="mybutton myPrev" data-bind="click: prevPage">Previous Page</button>
                <button class="mybutton myNext" data-bind="click: nextPage">Next Page</button>
            </div>
        </div>

    </div>