<div class="container-fluid postContainer">
    <div class="col-10">
        <br />
        <div>
            <span class="createDate" data-bind="text: createDate"></span>
            <span class="userId" style="color: black;" data-bind="text: userId"></span>
        </div>
        <h3 class="postTitle" data-bind="text: title"></h3>
        <div class="bodyContainer">
            <p data-bind="html: body"></p>
            <p class="postScore" data-bind="text: score"></p>
            <button class="jensButton" data-bind="click: showAnswers">Show answers</button>
            <button class="jensButton" data-bind="click: showComments">Show comments</button>
            <button class="likeKnap" data-bind="click: likeButtonPressed"><img style="width: 50px; height: 50px;" src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Full_Star_Yellow.svg/2000px-Full_Star_Yellow.svg.png"></button>

        </div>
        <div class="commentContainer" data-bind="visible: commentVisible">
            <comment-list></comment-list>
            <br />
        </div>
        <div data-bind="visible: answerVisible">
            <br />
            <h5>Answers:</h5>
            <answer-list></answer-list>
        </div>
    </div>
    <div class="col-2">
        
    </div>
</div>