<style>
    .postContainer {
        margin-left: 20px;
        margin-top: 10px;
    }

    .bodyContainer {
        background-color: lightcyan;
        padding: 10px 20px 20px 20px;
        color: black;
    }

    .postTitle {
        background-color: darkcyan;
        padding: 5px 20px 5px 20px;
        margin-top: 20px;
        color: white;
    }

    .createDate {
        color: black;
        background-color: white;
    }

    .userId {
        float: right;
        margin-right: 40px;
    }

        .userId:before {
            content: 'User ID: ';
        }


    .postScore {
        display: inline-block;
        background-color: darkcyan;
        padding: 10px 20px 10px 20px;
        margin: 0px;
        color: white;
        font-weight: bold;
        font-size: 12pt;
        border: none;
        border-color: black;
    }

        .postScore::before {
            content: 'Score: ';
            font-weight: normal;
        }

    .jensButton {
        background-color: black;
        margin-top: 5px;
        padding: 10px;
        font-weight: normal;
        font-size: 12pt;
        color: white;
        border: none;
    }

        .jensButton:hover {
            background-color: darkcyan;
            cursor: pointer;
        }

</style>

<div class="postContainer">
    <br />
    <div>
        <span class="createDate" data-bind="text: createDate"></span>
        <span class="userId" style="color: black;" data-bind="text: userId"></span>
    </div>
    <h3 class="postTitle" data-bind="text: title"></h3>
    <div class="bodyContainer">
        <p data-bind="html: body"></p>
        <p class="postScore" data-bind="text: score"></p>
        <button class="jensButton">Show answers</button>
        <button class="jensButton">Show comments</button>
    </div>
    <div class="commentContainer">

    </div>
</div>